<!DOCTYPE html>
<html lang="en" ng-app="MyForm">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--load angular source-->
    <script src="/angular/angular.js"></script>
    <!--load css-->
    <link rel="stylesheet" href="/index.css">
    <!--load my App-->
    <script src="/index.js"></script>
</head>

<body ng-controller="FormCtrl as formCtrl">
    <h1>
        User Registration
    </h1>
    <form name="regform" value="regform" novalidate ng-submit="formCtrl.submit()">
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" name="name" 
                    ng-class="{error: regform.name.$invalid}"
                    ng-model="formCtrl.name" required>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="email" name="email"
                    ng-class="{error: regform.email.$invalid}"
                    ng-model="formCtrl.email" required>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="text" name="password"
                    ng-class="{error: regform.password.$invalid}"
                    ng-model="formCtrl.password"
                    ng-minlength="8" required my-directive>
                </td>
                <td><h3>{{regform.password.$valid}}</h3></td>
            </tr>
            <tr>
                <td>
                    Male
                    <input type="radio" name="gender" value="Female"
                    ng-model="formCtrl.radio">
                </td>
                <td>
                    Female
                    <input type="radio" name="gender" value="Female"
                    ng-model="formCtrl.radio">
                </td>
            </tr>
            <tr>
                <!--will be the first day of 1999-->
                <td>Date of Birth:</td>
                <td>
                    <input type="date" name="birthday" max="1999-12-31"
                    ng-class="{error: regform.bithday.$invalid}"
                    ng-model="formCtrl.birthday" required>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <input type="text" name="address"
                    ng-class="{error: regform.address.$invalid}"
                    ng-model="formCtrl.address" required>
                </td>
            </tr>
            <tr>
                <!--<td>-->
                    Country<select name="country"
                            ng-class="{error: regform.country.$invalid}" required>
                            <option ng-repeat="x in formCtrl.country">
                                {{x}}
                            </option>
                        </select>
                <!--</td>-->
            </tr>
            <tr>
                <td>Contact No:</td>
                <td>
                    <input type="text" name="contact" 
                    ng-class="{error: regform.contact.$invalid}"
                    ng-model="formCtrl.contact" required>
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit"
                    ng-disabled="regform.$invalid">
                        Submit
                    </button>
                </td>
                <td>
                    <button type="clear"
                    ng-click="formCtrl.clear()">
                        Clear
                    </button>
                </td>
            </tr>
        </table>
        <h3>{{formCtrl.thankyou}}</h3>
    </form>
</body>

</html>